* {
    margin: 0;
}

/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Quattrocento', serif;
    background-color: black;
}

p {
    font-family: 'Quattrocento', serif;
    color: #A4936C;
    padding: 10px;

}

ul {
    color: #A4936C;
}

h1 {
    text-align: center;
    color: #A4936C;
    font-family: 'Abril Fatface', cursive;
    padding: 10px;

}

h2 {
    text-align: center;
    color: #A4936C;
    font-family: 'Abril Fatface', cursive;
    font-size: 1em;
    padding: 5px;
}

a {
    color: white;
    position: relative;
    font-size: 1.6em;
    font-family: 'Abril Fatface', cursive;
    margin: 30px;
    padding-top: 30px;


}

a:hover {
    color: #580302;

}





/* Style tab links */

.tablink {
    background-color: #580302;
    color: #8C7D5B;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    width: 25%;
    font-family: 'Abril Fatface', cursive;
}

.tablink:hover {
    background-color: #A4936C;
}

/* Style the tab content (and add height:100% for full page content) */

.tabcontent {
    color: #000000;
    display: none;
    padding: 100px 20px;
    height: 100vh;
}

#forside {
    background-color: black;
}

#portfolio {
    background-color: black;
}

#om {
    background-color: black;
}

#kontakt {
    background-color: black;
}


/**************forside***************************/

.intro_pic img {
    width: 100%;
    border-radius: 20px;


}



.fronttext {
    position: absolute;
    margin: 0 auto;
    top: 139px;
    left: 35%;
    width: 400px;


}

.fronttext h1 {
    color: black;
    font-size: 2vw;
}







/**************forside slut***************************/

/**************info***************************/

#info img {
    border-radius: 300px;
    width: 24vw;
    border: solid white;
}

.info_container {
    display: flex;
    justify-content: space-between;


}

#info .info {
    width: 400px;
    margin: 80px auto;
}

#info .imginfo {
    width: 400px;
    margin: 80px auto;

}

#img_container {}


/**************info slut***************************/

/*******************Portfolio**********************/

.boks_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.boks {
    width: 625px;
    height: 75vh;
    border-radius: 20px;
    border: solid #A4936C;
    overflow: scroll;
    margin-bottom: 70px;
    opacity: 0.7;

}

.boks:hover {
    opacity: 1;
    transform: scale(1.02);
    background-color: #121212;



}



/*******************Video***************/

/*******************egen animation***************/

.karakter_container {
    display: flex;
}

.karakter {
    justify-content: space-between;
}

.scene img {
    width: 100%;
}

.karakter img {
    width: 95%;

}

.skitse_stor_container {
    display: flex;
}

#karakter img {
    padding: 15px;
}



.scene img {
    align-items: center;
}

.scene img {
    width: 100%;
    padding: 15px;
}

.link_egenanim1 a {
    margin: 175px;
    padding-bottom: 30px;
}


.link_egenanim2 a {
    margin: 206px;
    padding-bottom: 30px;
}

/*******************stilart***************/

.link_stilart a {
    margin: 249px;
    padding-bottom: 30px;
}

.link_grundv a {
    margin: 107px;
    padding-bottom: 30px;
}

.link_redesign a {
    margin: 123px;
    padding-bottom: 30px;
}

.link_sex a {
    margin: 118px;
    padding: 30px;
}

.link_uxo1 a {
    margin: 206px;
    padding-bottom: 30px;
}

.link_uxo2 a {
    margin: 148px;
    padding-bottom: 30px;
}

.link_uxr1 a {
    margin: 175px;
    padding-bottom: 30px;



}

.link_uxr2 a {
    margin: 236px;
    padding-bottom: 30px;


}

.gvideo {
    padding-left: 38px;
    padding-bottom: 30px;
}

.rvideo {
    padding: 38px;
    padding-bottom: 30px;
}


.app {
    padding-left: 223px;
    padding-top: 30px;
    padding-bottom: 30px;
}







/*******************Portfolio slut**********************/

#kontakt p {
    text-align: center;
    padding: 20px;
}

/*******************kontakt**********************/

.kontakt {
    margin: 0 auto;
}

.kontakt p {
    font-size: 2em;
}
